//
// imports
//
@import "../node_modules/rfs/scss.scss";

@font-face {
  font-family: "Share Tech Mono";
  src: url("../resources/fonts/ShareTechMono-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "SF Mono";
  src: url("../resources/fonts/SFMono-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url("../resources/fonts/SFMono-Light.otf") format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "SF Mono";
  src: url("../resources/fonts/SFMono-Semibold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

//
// overrides
//

$green-c: #00942B;


$theme-colors: (
  "primary": $green-c
);



$body-bg: #121212;
$body-color: #FFFFFF;

//
// mixin functions
//

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
//
// import bootstrap
//

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//
// scss
//

img.responsive-img-h {
  display: block;
  width: 100%;
  height: auto;
}



.card {
  background-color: #2c2c2c;
  color: white;
}

.bg-dark {
  background-color: $green-c !important;
}

#sponsorsCarousel>.carousel-inner>.carousel-item>img {
  height: 512px;
  width: 512px;
}


#sponsorsCarousel>.carousel-inner>.carousel-item>.carousel-caption{
  background: rgba(0, 0, 0, 0.171);
}